# Core app dependencies
fastapi
uvicorn
python-dotenv
qdrant-client
# Sentence Transformers (CPU-only)
torch==2.2.1+cpu
torchvision==0.17.1+cpu
torchaudio==2.2.1+cpu
sentence-transformers

# Ensure PyTorch uses CPU wheels
-f https://download.pytorch.org/whl/cpu
