fastapi==0.95.0
uvicorn==0.21.1
pydantic==1.10.7
opentelemetry-api==1.18.0
opentelemetry-sdk==1.18.0
opentelemetry-instrumentation-fastapi==0.39b0
opentelemetry-exporter-prometheus==0.39b0
opentelemetry-instrumentation-logging==0.39b0
opentelemetry-instrumentation-requests==0.39b0
opentelemetry-instrumentation-system-metrics==0.39b0
prometheus-client==0.16.0
requests==2.31.0